export TESTING=1
export PYTHONUNBUFFERED=1
export LOG_LEVEL=DEBUG
export WEBSOCKET_BROADCASTER_URL="redis://localhost:6379"

# Path (relative to docker-compose.yml) to a local orchestrator-core repo to mount into
# the container, install, and watch.
export CORE_DIR=../orchestrator-core/

export EMBEDDING_API_KEY=None
